.row
    .col-md-offset-3.col-sm-offset-1.col-xs-offset-1.col-md-2.col-sm-3.col-xs-10
        div(style="text-align: center")
            img(src="..///assets.clue.io/clue/public/img/logos/cmap-logo-01.svg")