// metadata card
.metadata-card-vert-container.cp-card

    // ----------------------- CARD HEADER -------------------------
    .metadata-card-header

        // Card type and symbol
        .card-type
            span.pert-info-pert-chip
                .fa.fa-stop.fa-cmap-class
            | &nbsp;
            span.pert-info-pert-type
                | Class

        .card-title-and-icon
            .metadata-card-title
                | Card Title

