//- Forgot password form
form.modal-form-copy#forgot-password-form(style="display:none;" name="forgot-password-form" data-form-type="forgotten-password" role="form" method="post")
    .form-group(style="display:none;padding-left:30;" name="passwordEmailSuccess")
        .p.intro#forgotEmailText
    .form-group(style="display:none;padding-left:30;" name="messageGroup")
        .text-warning(name="messageText")
            | To reset your password, enter your email address and click Submit
    .form-group#resetEmail
        input.form-control(name="email" type="email" placeholder="Email address" data-error="Email address required" required)
        .help-block.with-errors
    .row#resetEmailSubmit
        .col-xs-offset-8.col-xs-4
            .form-group
                button.btn.btn-primary#forgotpasswordbutton(type="submit") SUBMIT
    .row#resetPasswordCreateAccount
        .col-xs-12
            .form-group.border-thin-top
                .pad-top-8
                    .modal-title-copy
                        | Don't have an account?
                    a(href="#" name="create-account")
                        | Create an account
