block meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="google-site-verification" content="qpiygib7oAZsD4rfeIa2NrdI0CyHVN0MlNteNW4cmaI")

// Favicon
link(href="//assets.clue.io/clue/public/img/favicon.ico", rel="shortcut icon", type="image/x-icon")


block fonts
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700|Roboto+Condensed:400,300,700|Roboto+Slab:100,300,400,700|Istok+Web:400,700|Open+Sans:300,400,400i,600,600i,700,700i,800|Source+Serif+Pro:400,600|Roboto+Mono:400,500' rel='stylesheet' type='text/css')
block styles

    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/css/ion.rangeSlider.min.css" integrity="sha256-rLxtUobhp345FlKKF5jGqmYe10rPQq7oof6uQbM4bRE=" crossorigin="anonymous")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/css/ion.rangeSlider.skinFlat.min.css" integrity="sha256-Svhn+gXMfPYdonnGxiBD2bzawTxp7l6YgZcozZEsFJ0=" crossorigin="anonymous")

    //link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.5.2/css/tabulator.min.css")
    link(rel="stylesheet" href="/public/css/local/tabulator/data_tabulator.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" integrity="sha256-fCvsF0xsnCxll1wsahPQTSOuvghR/s3EUivgvueC+iE=" crossorigin="anonymous")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css" integrity="sha256-4hblV1uSaPQqT+NtIEL4/IKzKE42/3DbJ6yfxWba24k=" crossorigin="anonymous")
    link(href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css")

    link(href='/public/css/dist/clue.all.min.css', rel="stylesheet")
    link(href='/public/css/dist/clue.css', rel="stylesheet")

title#cluecmap #{ title }
