//- Logout form
form.modal-form-copy#logout-form(style="display:none;" name="logout-form" data-form-type="logout" role="form" method="get")
    .form-group
        a(href="#" name="settings") Settings
    .form-group
        button.btn.btn-primary#logoutbutton(type="submit") Log Out
