body.homepage
	div.col-xs-2
		a(href="/")
			img(src="//assets.clue.io/clue/public/img/logos/cmap-logo-cloud.svg" style="padding-right: 10px; height: 30px")
	div(style="padding-left: 25px; padding-right: 0px; position: relative; float: left;").col-xs-6