.modal-content#notification-modal-content
        row.notification-dropdown-top
            .notification-dropdown-title(style="color: #d90124; !important") Announcements
            a(href="/announcements" data-turbolinks="false").notifications-all See all
        row#message_area