//- privacy policy notice
form.modal-form-copy#policy-form(style="display:none;" role="form")
    .form-group
        p.mfc The following discloses our information gathering and dissemination practices for the CLUE website (https://clue.io):
        h4 Information gathering
        p.mfc We may use your IP address to help diagnose problems with our server and to administer our website by identifying (1) which parts of our site are most heavily used, and (2) which portion of our audience comes from within the Broad Institute network. We do not link IP addresses to anything personally identifiable. This means that user sessions will be tracked, but the users will remain anonymous.

        h4 Use of information
        p.mfc CLUE staff uses the information gathered above to tailor site content to user needs, and to generate aggregate statistical reports.  At no time do we disclose site usage by individual IP addresses. Web server logs are retained on a temporary basis and then deleted completely from our systems.

        h4 Security
        p.mfc This site has security measures in place to protect the loss, misuse and alteration of the information under our control. CLUE however, is not liable for the loss, misuse or alteration of information on this site by any third party.

        h4 Effective date
        p.mfc The effective date of this policy is Jan 31,  2015.

    .form-group
        button.btn-primary#privacyPolicyOk(type="button") OK
