form#settings-form.form(name="settingsForm" style="display:none;" role="form")
    p#settings_name
    p#setting_institution
    p#setting_email
    p#apiKey
    p#roles
    .form-group
        button.btn.btn-primary(type="button" name="ok") OK