h5 Disclaimer
p The CLUE website is intended to provide gene expression data and analysis tools for use in research. This site is not an attempt to provide specific medical advice, and should not be used to make a diagnosis or to replace or overrule a qualified health care provider's judgment. Users should consult with a qualified healthcare professional for answers to personal questions.
p You assume full responsibility for using the information on this site, and you understand and agree that the Broad Institute is not responsible or liable for any claim, loss, or damage resulting from its use by you or any user. While we try to keep the information on the site as accurate as possible, we disclaim any warranty concerning its accuracy, timeliness, and completeness, and any other warranty, express or implied, including warranties of merchantability or fitness for a particular purpose. The Broad Institute also does not warrant that access to the site will be error- or virus-free.
h5 Site Access
p Your access to and use of this site, and these terms and conditions, are governed by the laws of the Commonwealth of Massachusetts and applicable U.S. federal laws. You consent to the jurisdiction and venue of the state and federal courts located within Massachusetts and agree that any action related to your access to or use of this site and these terms and conditions must be brought in a state or federal court located within Massachusetts.
h5 Trademarks and Logos
p Nothing on this site grants any license or right to use any trademarks, logos or other names, including but not limited to those identifying CLUE, CMAP, the Broad Institute or any officer, director, employee, affiliated investigator, or agent of the Broad Institute, without express written consent of the Broad Institute or other such owner.
h5 Data Access
p
    i Access Keys
    | ,
    i  Code
    | , and
    i  Data Files
    |  are provided on the following terms:
p
    ul
        li
            span
                i Access Keys
                | ,
                i  Code
                | , and
                i  Data Files
                |  are single user and assigned to the particular named individual on the registration form.
        li
            span
                | If anyone else in your group seeks access, please have them fill out the request form and we will be glad to provide them a personalized key.
        li
            span
                | You agree to not redistribute
                i Access Keys
                | ,
                i  Code
                | , and
                i  Data Files
                | .
        li
            span
                | Access to these resources is restricted to use by you within your research group. Please do not redistribute them.
        li
            span
                | If you have a derivative work that is significantly different from what we provide and you would like to distribute it, please contact us with the details. Our goal is to encourage significant improvements while maintaining provenance and reproducible research standards.
        li
            span
                | Any discoveries you make in the data are yours.
        li
            span
                | We encourage you to publish results from analyses of these data. Please see "Publication Policy" below.
        li
            span
                i Access Keys
                | ,
                i  Code
                | , and
                i  Data Files
                |  are for research use only.
        li
            span
                | Usage of
                i  Access Keys
                | ,
                i  Code
                | , and
                i  Data Files
                |  are restricted to academic use within not-for-profit institutions.
h5 Publication Policy
p We are glad if you have found the CLUE data to be useful and would like to incorporate it into your publications. You do not need to include us as authors when you publish your CLUE analysis results. The only exception to this is a paper describing the overall contours of the LINCS dataset (i.e., the manuscript that we at the Broad are working on in collaboration with LINCS). If your paper needs a citation to our work on L1000 or LINCS, please contact us at clue@broadinstitute.org.
p Examples of groups that have published their work on this basis include:
p Santagata S, Mendillo ML, Tang YC, Subramanian A, Perley CC, Roche SP, Wong B, Narayan R, Kwon H, Koeva M, Amon A, Golub TR, Porco JA Jr., Whitesell L,Lindquist S. Tight coordination of protein translation and HSF1 activation supports the anabolic malignant state. Science. 2013/7/19. 341(6143), (2013).
p Johannessen CM, Johnson LA, Piccioni F, Townes A, Frederick DT, Donahue MK, Narayan R, Flaherty KT, Wargo JA, Root DE, Garraway LA. A melanocyte lineage program confers resistance to MAP kinase pathway inhibition. Nature. 2013/12/5. 504(7478):138-42, (2013).
p Gustafsdottir SM, Ljosa V, Sokolnicki KL, Wilson JA, Walpita D, Kemp MM, Seiler KP, Carrel HA, Golub TR, Schreiber SL, Clemons PA, Carpenter AE, Shamji AF. Multiplex cytological profiling assay to measure diverse cellular states. PLoS One. 2013/12/2;8(12):e80999, (2013).
p Wawer, MJ, Jaramillo DE, Dancik V, Fass DM, Haggarty SJ, Shamji AF, Wagner BK, Schreiber SL, Clemons PA, et al. Automated Structure-Activity Relationship Mining: Connecting chemical structure to biological profiles. J. Biomol. Screen. 2014/4/7, (2014).