.modal-content#menu-developers-modal-content(style="width: 250px")
    .modal-dialog
        .modal-content.unshadow
            .modal-body
                .row
                    .col-xs-12
                        div.subheading For Developers
                        .row
                            .col-xs-12#developer_apps