doctype
html( lang="en" )
    head
        include ./includes/head.jade
    body
        block cmap_header
            include ./includes/header
        footer
            include ../views/includes/footer.jade