- var app = { title:'' }
extends ../templates/page_layout.jade
body
	content
		.container-fluid

			include includes/loading_screen.jade

		div(style="height: 20px")        

//Use this for backups and sandbox