// metadata card - BASIC

div#basic-card.metadata-card-vert-container.build-card
    .metadata-card-header

        .card-type
            span.pert-info-pert-chip
                .fa.fa-file-o
            | &nbsp;
            span.value.pert-info-pert-type
                | NO INFORMATION
        .card-title-and-icon
            .metadata-card-title
                span No information

        // Description

        .description
            span No information exists in our database for the selected item

    // ------------------------------------------

    .metadata-section
        .fa.fa-file-o(style="width: 100%; font-size: 100px; text-align: center; color: #ccc")