$sans: 'Open Sans', Arial, sans-serif;
$condensed: 'Roboto Condensed', sans-serif;
$slab: 'Roboto Slab', Cambria, serif;
$istok: 'Istok Web','Open Sans', sans-serif;
$serif: 'Source Serif Pro', serif;
$mono: 'Roboto Mono', ;

.bold {
  font-weight: 700;
}
.semibold {
  font-weight: 600;
}