
/* Ready to deprecate - 
   styles scoped and copied to figures/_does-timepoint.scss
*/

.label {
	font-size: 11px !important;
	font-family: 'Roboto Condensed' !important;
	fill: #000 !important;
}

rect.bordered {
	stroke: #ffffff;
	stroke-width: 2px;
}