input[type=text] {
   border: none;
   display: block;
   margin: auto;
   outline: none;
   background: #ededed;
}

.search_text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    color: #383838;
    font-size: 30px;
    text-align: center;
    opacity:1;
}

.landing_header_title {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    color: #383838;
    font-size: 1.618em;
    text-align: center;
    opacity:1;
}

.landing_header_text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    color: #383838;
    font-size: 1.618em;
    text-align: center;
    opacity:1;
}

.splash_text1, .splash_text2{
    color: white;
    text-align: center;
    opacity:1;
}

.splash_text1{
    font-weight: 300;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 3.272405em;
}

.splash_text2{
    font-weight: 300;
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-size: 1.25em;
}



.search_result_text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
    color: #383838;
    font-size: 1em;
    text-align: center;
    opacity:0.24;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px){

}

.icon_label {
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-weight: 700;
    color: #383838;
    font-size: 50px;
    text-align: center;
    opacity:1;
}

svg, .hand{
    cursor: hand;
}

.icon-center{
    position: relative;
    left: 25%;
}

.hcenter{
    margin: auto;
}

/*#users_packery_container{
    height: 500px;
    overflow: scroll;
}*/

@media only screen and (min-device-width : 320px) and (max-device-width : 568px){
    .search_text{
        font-size: 20px;
    }

    svg{
        max-width:6.854em;
    }
}
