body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-color: #555;
}
hr {
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
}

h2 {
    font-weight: 700;
}
