.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top

.datepicker.datepicker-dropdown.dropdown-menu {
    //padding: 10px;
    .datepicker-days{
        //padding: 14px 10px 0px 10px;
        table.table-condensed {

            thead {
                tr th.datepicker-title {}
                tr th.prev {}
                tr th.datepicker-switch {}
                tr th.next{}
                tr th.dow{}
            }
            tbody {
                tr td.day{}
                tr td.disabled.day{}
                tr td.old.day,
                tr td.new.day{}
            }

        }
    }
    .datepicker-months{}
    .datepicker-years{}
    .datepicker-decades{}
    .datepicker-centuries{}
}


table.table-condensed {
    margin: 10px;
  }

.prev, .next {
    color: $gray6;
    font-size: 18px;
    font-weight: 200;
}
.next {
    text-align: right;
}

.dow {
    color: $dark-blue-base;
    font-weight: 600;
}
.datepicker-switch, .day {
    text-align: center;
  }
  .datepicker-switch {
    font-size: 18px;
    font-weight: 300;
  }
  .day{
    width: 30px;
    height: 30px;
    font-size: 13px;
    font-weight: 300;
  }
  .disabled.day {
    color: $gray3;
  }

  .old.day {
    color: $gray4;
  }
  .disabled.old.day {
      color: $gray2;
  }
  .new.day {
    color: $gray6;
  }

  .today {
    font-weight: 600;
    color: $header-color !important; 
    border: solid 1px $tab-borders !important;
  }

  .active.day {
    color: white !important;
    background-color: $happy-sky;
    border: solid 1px $happy-sky !important;
  }

