.announcements-page {
  .category_header {
    font-size: 14px !important;
    font-weight: bold !important;
    font-family: "Open Sans", Arial, sans-serif !important;
    color: #F15A22 !important;
  }

  .category_article {
    font-size: 12px !important;
    font-family: "Open Sans", Arial, sans-serif !important;
    color: #F15A22 !important;
  }

  .sidebar_header {
    font-family: "Roboto Slab", Cambria, serif !important;
    font-size: 20px !important;
    padding-bottom: 10px !important;
  }
}